@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: "Lora", "Montserrat", sans-serif;
  scroll-behavior: smooth;
  /* .box {
    display: inline-block;
  } */
}
.button.is-small.custom {
  border-radius: 5px;
}

.dropdown-content.custom {
  width: max-content
}

.dropdown-content.custom a.dropdown-item {
  padding: 0.25em 0.5em;
}

section.custom-section {
  padding: 2rem 1.5rem !important; 
}

.table-box {
  padding: 0.4rem;
}

#emoji-modal {
  /* transform: scale(0.7); Adjust as needed */
  scale: 0.8;
  position: absolute;
  bottom: 0.5rem; 
  right: -2rem;
  display: none;
  z-index: 1000; /* Add this line */
}
