@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
  font-family: "Lora", "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.button.is-small.custom {
  border-radius: 5px;
}

.avim-control-btn {
  border-radius: 0px;
}

#avim-auto-btn{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

#avim-off-btn{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.dropdown-content.custom {
  width: max-content;
}

.dropdown-content.custom a.dropdown-item {
  padding: 0.25em 0.5em;
}

section.custom-section {
  padding: 2rem 1.5rem !important; 
}

.table-box {
  padding: 0.4rem;
}

#emoji-modal {
  position: absolute;
  top: 3.5rem; 
  left: 0rem;
  display: none;
  z-index: 1000;
}

.avim-control-btn input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

/* align avim-control to the left on mobile devices */
@media screen and (max-width: 768px) {
  #AVIMControl {
      justify-content: flex-start !important;
  }
}
@media screen and (max-width: 768px) {
  .column.small-gap {
    padding-top: 0rem !important;
  }
}

.modal-card-head.is-small {
  padding: 10px;
}

.modal-card {
  border-radius: 10px;
}
  
/* .modal-card-title.is-small {
  font-size: 0.9rem;
} */

/* .modal-card-head.is-small .delete {
  height: 20px;
  width: 20px;
} */